.main{
	width:100%;
	min-height:700px;
	background-color: cyan;
	background:cover;
}

.tie-up{
	width:100%;
    background-color: black;
	margin: 0%;
	height:300px;
}
.tieupheading h3{
	color: cyan;
	text-align: center;
    font-size:35px;
	padding-top: 1.5%;
}
.tieupicons{

	padding-left:4%;
	padding-top: 0%;
	padding-right:4%;

}
.upper
{   width:100%;
	background-color: grey;
	margin:0px;
	padding: 0px;
	height:250px;
}

.lower
{
 	margin-top: 0%;
 	height:55px;
	color:white;
	padding-left:1%;
	font-size: 14px;
	width:100%;
	padding-top: 0.5%;
	background-color: black;
	
}
.copyright{
	display: inline-block;
	width:45%;
}

.icons{
	padding-top:0.5%;
float:right;
width:45%;}

.fam{
	display: inline;
	padding-right:4%;
	padding-left: 2%;
	float:right;
	
}
.footerDiv a{
	color:black;
	padding-bottom:14px;
	
}

.footerDiv
{   
	list-style: none;
	font-size:18px;
	padding-left: 4%;
	padding-right: 4%;
	display: block;
	color:black;
	margin-left: 25px;
	float:left;
	height:100%;
	margin-bottom:10px;
	width:45%;
}
.images{
	float:left;
	padding:0.5%;
	padding-left: 3%;
  	padding-top: 4%;
  }
  img{
  	border-radius: 50%;
}
.img2{
	border-radius:20%;
}
hr{
	width:45%;
     padding-left: 0%;
     margin-left: 0%;
     position: left;
}

@media screen and (max-width: 1003px)
{ .tie-up{
	height:340px;
	 }

  .images{
  	display:inline-block;
    float:left;
	padding-right:0.5%;
	padding-left: 0.5%;
  	padding-top: 4%;

  }

  .icons{
  	float:right;
  }
  .fam{
  	display:inline;
  	
  	padding-left: 10px;
  	padding-right:20px;
  }
  .lower{
  	padding-left: 40px;
  }
  
}	

@media screen and (max-width: 900px)
{ .tie-up{
	height:410px;
	 }

  .images{
  	display:inline-block;
    float:left;
	padding-right:0.5%;
	padding-left: 1%;
  	padding-top: 4%;

  }

  .icons{
  	float:right;
  }
  .fam{
  	display:inline;
  	
  	padding-left: 10px;
  	padding-right:20px;
  }
  
}	

@media screen and (max-width: 550px)
{ .tie-up{
	height:540px;
	 }
   .upper{
   	height:300px;
   }
  .images{
  	display:inline-block;
    float:none;
  }
  .img2{
  	padding-left:100px;
  	padding-right: 80px;
  }
 
  .fam{
  	padding-left: 10px;
  	padding-right:20px;
  }
  .lower{
  	padding-left: 10px;
  }
  
  
  .footerDiv{
  		margin-top:0px;
		display:block;
		height:150px;
		font-size:15px;
		margin-bottom: 0px;
		width:100%;
	}

}	
